/* Global Styles */
body,html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}

.no-padding {
	padding: 0 !important;
}

.space10 {
	margin-bottom: 10px;
}

.space20 {
	margin-bottom: 20px;
}

.space30 {
	margin-bottom: 30px;
}

.space40 {
	margin-bottom: 40px;
}

.space50 {
	margin-bottom: 50px;
}

.space60 {
	margin-bottom: 60px;
}

.space70 {
	margin-bottom: 70px;
}

.space80 {
	margin-bottom: 80px;
}

.space90 {
	margin-bottom: 90px;
}

/* Header */
.navbar-brand span {
	font-size: 34px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	position: relative;
}

.navbar-brand span:before {
	content: "";
	width: 16px;
	height: 2px;
	background: #d82132;
	position: absolute;
	top: -1px;
	left: 3px;
}

header {
	padding: 35px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999999;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navbar-nav {
	float: left;
	margin: 15px 0 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navbar-nav li {
	margin: 0 15px;
}

.navbar-nav li a {
	padding: 5px 0;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	background: transparent !important;
}

.navbar-nav li a:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: transparent;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navbar-nav li.active a,.navbar-nav li a:hover {
	color: #fff;
}

.navbar-nav li.active a:before,.navbar-nav li a:hover:before {
	content: "";
	background: #d82132 !important;
}

/* Top Wrap */
#intro {
	background: rgba(0,0,0,0.5);
	padding: 60px 0;
}

#owl-intro .item {
	padding: 190px 0 120px;
}

#owl-intro .item h2 {
	font-size: 60px;
	text-transform: uppercase;
	color: #d82132;
	font-weight: 600;
	text-align: center;
	font-family: Arial;
	margin-top: 0;
}

#owl-intro .item h2 span {
	font-size: 64px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}

#owl-intro .item h2 span:before {
	content: "";
	width: 30px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 4px;
	left: 5px;
}

.sep {
	background: #fff;
	height: 2px;
	width: 28%;
	margin: 40px auto;
}

.sep-small {
	background: #ccc;
	height: 1px;
	width: 50px;
	margin: 17px 0;
}

.sep2 {
	background: url(../images/sep2.png) no-repeat center;
	height: 2px;
	width: 100%;
	margin: 60px 0;
}

#owl-intro .item h3 {
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	text-align: center;
	margin: 0 0 12px;
}

#owl-intro .item p {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin: 0;
}

p {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
}

#owl-intro .item a {
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-top: 0;
	padding: 12px 20px 10px;
	display: table;
	position: relative;
	margin: 0 auto;
	background: url(../images/border.png) no-repeat top center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-intro .item a:hover,.inner-wrap2 a:hover {
	padding: 12px 35px 10px 20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-intro .item a:hover:before,.inner-wrap2 a:hover:before {
	content: "\f054";
	color: #fff;
	font-family: FontAwesome;
	position: absolute;
	right: 12px;
	top: 13px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-intro .owl-controls .owl-page span {
	display: block;
	width: 16px;
	height: 3px;
	margin: 5px 4px;
	opacity: 1;
	border-radius: 0;
	background: #ccc;
}

#owl-intro .owl-controls .owl-page.active span {
	background: #d82132;
}

#owl-intro .owl-buttons {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -50px;
}

#owl-folio .owl-buttons {
	text-align: center;

}

#owl-intro .owl-controls .owl-prev,#owl-intro .owl-controls .owl-next,#owl-folio .owl-controls .owl-prev,#owl-folio .owl-controls .owl-next {
	color: #FFF;
	font-size: 0;
	text-indent: -9999px;
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 12px;
	border-radius: 50px;
	background: #333;
	opacity: 1;
	position: relative;
	float: left;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-intro .owl-controls .owl-prev {
	right: 17px !important;
}

#owl-intro .owl-controls .owl-prev {
	right: -17px;
}

#owl-folio .owl-controls .owl-prev ,
#owl-folio .owl-controls .owl-next {
	position: absolute;
	top: 35%;
	margin-top: -35px;
	left:5px;
}

#owl-folio .owl-controls .owl-next {
	right:5px;
	left:auto;
	float:right;
}

#owl-folio .owl-controls .owl-prev,#owl-folio .owl-controls .owl-next {
	background: rgba(0,0,0,0.3);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-intro .owl-controls .owl-prev:hover,#owl-intro .owl-controls .owl-next:hover,#owl-folio .owl-controls .owl-prev:hover,#owl-folio .owl-controls .owl-next:hover {
	background: #d82132;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-intro .owl-controls .owl-next,#owl-folio .owl-controls .owl-next {
	float: right;
}

.media-btns {
	position:relative;
	width:132px;
	height:132px;
	display: table;
	margin: 0 auto 15px;
	background: url(../images/media-bg.png) no-repeat;
}

.play-btn {
	position:absolute;
	z-index:44;
	top:0px;
	left:0px;
	right:0px;
	width: 132px;
	height: 132px;
	background: url(../images/play.png) no-repeat;
	cursor:pointer;
}

.pause-btn {
	width: 132px;
	height: 132px;
	position:absolute;
	z-index:88;
	top:0px;
	left:0px;
	right:0px;
	background: url(../images/pause.png) no-repeat;
	cursor:pointer;
}

#owl-intro .owl-controls .owl-prev:before,#owl-intro .owl-controls .owl-next:before,#owl-folio .owl-controls .owl-prev:before,#owl-folio .owl-controls .owl-next:before {
	content: "\f104";
	font-family: FontAwesome;
	color: #fff;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 27px;
	text-align: center;
	text-indent: 0;
	line-height: 50px;
}

#owl-intro .owl-controls .owl-next:before,#owl-folio .owl-controls .owl-next:before {
	content: "\f105";
}

/* Services */
#services {
	background: #d82132 url(../images/service-bg.png) no-repeat center bottom;
	padding: 70px 0;
	position: relative;
}

#services h3 {
	font-size: 36px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 50px;
}

#services ul {
	padding: 0;
	position: relative;
	height: 200px;
	margin-bottom: 40px;
}

#services ul:before {
	content: "";
	height: 1px;
	background: #fff;
	width: 75%;
	margin: 0 auto;
	position: absolute;
	top: 4px;
	right: 0;
	left: 0;
}

#services ul li {
	width: 25%;
	float: left;
	color: #fff;
	text-align: center;
	list-style: none;
	height: 200px;
	position: relative;
	padding-top: 59px;
	cursor: pointer;
}

#services ul li:before {
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
	border: 4px solid transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: table;
	margin: 0 auto;
}

#services ul li:hover:before {
	content: "";
	width: 24px;
	height: 24px;
	border: 4px solid #fff;
	background: #d82132;
	top: -7px;
}

#services ul li i {
	font-size: 60px;
}

#services ul li h4 {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 30px 0 0;
}

#services ul li:hover h4 {
	background: url(../images/sep.png) no-repeat center top;
	padding-top: 25px;
	margin-top: 40px;
}

#services ul,#services ul:before,#services ul li,#services ul li h4,#services ul li:before,#services ul li:hover:before {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#services p {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0 12%;
}

/* Featured Works */
#fworks {
	background: #fff;
	padding: 70px 0;
	position: relative;
	border-top: 70px solid transparent;
	margin-top: -70px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.content-head {
	margin-bottom: 85px;
}

.content-head h5 {
	color: #000;
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 5px 0;
	position: relative;
}

.content-head h5:before {
	content: "";
	width: 17px;
	height: 2px;
	background: #d82132;
	position: absolute;
	top: -1px;
	left: 3px;
}

.content-head p {
	padding-left: 50px;
	padding-right: 5%;
	color: #999;
	background: url(../images/sep1.png) no-repeat center left;
	margin: 0;
	font-size: 18px;
}

.fworks-info {}

.fworks-info h4,.skills h4 {
	color: #d82132;
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
}

.fworks-info h5 {
	color: #000;
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 20px;
}

.fworks-info p {
	color: #999;
	font-size: 16px;
	margin-bottom: 22px;
}

.fworks-meta {
	padding: 0;
	margin: 0 0 10px;
}

.fworks-meta li {
	list-style: none;
	font-size: 14px;
	margin: 3px 0;
}

.fworks-meta li a {
	color: #525252;
}

.fworks-meta li a:hover {
	color: #999;
}

#owl-fworks .owl-controls .owl-page span {
	display: block;
	width: 16px;
	height: 4px;
	margin: 35px 4px 0;
	opacity: 1;
	border-radius: 0;
	background: #ccc;
}

#owl-fworks .owl-controls .owl-page.active span {
	background: #d82132;
}

.btn-wrap a,.contact-form button,.c-form button {
	font-size: 16px;
	float: left;
	margin-right: 12px;
	color: #000;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #666;
	border-top: 0;
	padding: 12px 20px 10px;
	display: table;
	position: relative;
	background: url(../images/border1.png) no-repeat top center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-wrap a {
	padding: 14px 37px;
}

.btn-wrap a:nth-child(2) {
	padding: 14px 31px;
}

.btn-wrap a:hover {
	padding: 12px 35px 10px 20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-wrap a:hover:before {
	content: "\f054";
	font-family: FontAwesome;
	position: absolute;
	right: 12px;
	top: 13px;
	color: #666;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* Video Wrap */
#video-wrap {
	height: 480px;
	position: relative;
	overflow: hidden;
	background: rgba(0,0,0,0.3);
}

.video-overlay {
	position: absolute;
	top: 115px;
	left: 0;
	right: 0;
	z-index: 888;
}

#video-wrap img {
	display: table;
	margin: 0 auto 50px;
}

#video-wrap h3 {
	font-size: 60px;
	text-transform: uppercase;
	color: #d82132;
	font-weight: 600;
	text-align: center;
	font-family: Arial;
	margin-top: 0;
}

#video-wrap h3 span {
	font-size: 64px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}

#video-wrap h3 span:nth-child(1):before {
	content: "";
	width: 30px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 4px;
	left: 5px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/*padding-top: 30px;*/
	height: 0;
	overflow: hidden;
	background: #000;
}

.video-container iframe,.video-container object,.video-container embed {
	position: absolute;
	top: -11.5%;
	left: 0;
	width: 100%;
	height: 100%;
}

/* About */
#about {
	background: #fff;
	padding: 70px 0;
	position: relative;
	border-top: 70px solid transparent;
	margin-top: -70px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.about ul {
	padding: 0;
}

.about ul li {
	list-style: none;
	display: table;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	cursor: pointer;
	margin-bottom: 35px;
}

.about ul li:hover {
	border-bottom-color: #d82132;
}

.a-ico {
	width: 70px;
	float: left;
}

.about ul li i {
	width: 70px;
	height: 90px;
	background: #fff url(../images/border.png) no-repeat top center;
	color: #000;
	font-size: 35px;
	line-height: 90px;
	text-align: center;
	border: 1px solid #ddd;
}

.about ul li:hover i {
	background: #d82132;
	color: #fff;
	border: 1px solid #d82132;
}

.about ul li h4 {
	color: #000;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 14px;
}

.about ul li:hover h4 {
	color: #d82132;
}

.about ul li p {
	color: #999;
	font-size: 16px;
}

.a-info {
	margin-left: 95px;
}

.about ul li i,.about ul li:hover i {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* Mission */
.mission {
	padding-top: 50px;
	padding-bottom: 10px;
}

.mission .title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 30px;
	color: #d82132;
}

.mission .subtitle {
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	margin: 0;
	color: #000;
}

/* Skills */
.skills-wrap {
	padding: 0;
}

.skills-wrap li {
	list-style: none;
	margin-top: 25px;
}

.skills-wrap h6 {
	font-size: 18px;
	margin: 0 0 5px;
	color: #000;
	font-weight: 400;
}

.skills-wrap div {
	border: 1px solid #ddd;
	height: 10px;
	width: 100%;
	padding: 2px;
}

.skills-wrap div span {
	display: table;
	height: 4px;
	position: relative;
}

.expand {
	background: #777;
	position: absolute;
}

.photoshop,.html5,.wpress,.svideo {
	width: 0;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
}

.skills-wrap div span:before {
	content: "";
	height: 18px;
	width: 1px;
	background: #777;
	position: absolute;
	top: -7px;
	right: 0;
}

.skills-wrap div span em {
	position: absolute;
	right: 0;
	top: -35px;
	font-style: normal;
	fot-weight: 400;
	color: #d82132;
	font-size: 18px;
}

/* Facts */
#facts {
	background: #000 url(../demo/bg/1.jpg) no-repeat center top fixed;
	background-size: 100% auto;
	position: relative;
	padding: 70px 0;
}

#facts ul {
	padding: 0;
}

#facts ul li {
	list-style: none;
	float: left;
	width: 25%;
}

#facts ul li i {
	width: 200px;
	height: 140px;
	font-size: 88px;
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
	border-top: 0;
	display: table;
	margin: 0 auto;
	background: url(../images/border.png) no-repeat top center;
	line-height: 143px;
}

#facts ul li h4 {
	text-transform: uppercase;
	margin: 37px 0 0;
	text-align: center;
	color: #fff;
	font-weight: 600;
}

#facts h3,.inner-wrap2 h3 {
	font-size: 60px;
	text-transform: uppercase;
	color: #d82132;
	font-weight: 600;
	text-align: center;
	font-family: Arial;
	margin: 0 0 70px;
	line-height: 45px;
}

#facts h3 span,.inner-wrap2 h3 span {
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}

#facts h3 span:before {
	content: "";
	width: 30px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 1px;
	left: 5px;
}

.inner-wrap2 h3 span:before {
	content: "";
	width: 30px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: -2px;
	left: 1px;
}

/* Services Two */
#services2 {
	background: #fff;
	padding: 80px 0 60px;
	position: relative;
	border-top: 80px solid transparent;
	margin-top: -80px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.services2-left ul,.services2-right ul {
	padding: 0;
}

.services2-left ul li,.services2-right ul li {
	list-style: none;
	display: table;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	cursor: pointer;
	margin-bottom: 35px;
}

.services2-left ul li:hover,.services2-right ul li:hover {
	border-bottom-color: #d82132;
}

.services2-right .a-ico {
	width: 70px;
	float: left;
}

.services2-left .a-ico {
	width: 70px;
	float: right;
}

.services2-left ul li i,.services2-right ul li i {
	width: 70px;
	height: 90px;
	background: #fff url(../images/border.png) no-repeat top center;
	color: #000;
	font-size: 35px;
	line-height: 90px;
	text-align: center;
	border: 1px solid #ddd;
}

.services2-left ul li:hover i,.services2-right ul li:hover i {
	background: #d82132;
	color: #fff;
	border: 1px solid #d82132;
}

.services2-left ul li h4,.services2-right ul li h4 {
	color: #000;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 14px;
}

.services2-left ul li:hover h4,.services2-right ul li:hover h4 {
	color: #d82132;
}

.services2-left ul li p,.services2-right ul li p {
	color: #999;
	font-size: 16px;
}

.services2-right .a-info {
	margin-left: 95px;
}

.services2-left .a-info {
	margin-right: 95px;
	margin-left: 0;
	text-align: right;
}

.services2-left ul li i,.services2-left ul li:hover i,.services2-right ul li i,.services2-right ul li:hover i {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* Inner Wrap */
.inner-wrap {
	background: #000 url(../demo/bg/2.jpg) no-repeat center top fixed;
	background: 100% auto;
	position: relative;
	padding-top: 105px;
}

.inner-wrap img {
	max-width: 93%;
	margin: 0 auto;
	display: table;
}

/* Team */
#team {
	position: relative;
	background: #fff;
	padding: 80px 0 70px;
	border-top: 70px solid transparent;
	margin-top: -70px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.team-info {
	padding: 25px;
	background: #efeff1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.folio-inner {
	padding: 25px 25px 10px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.team-info h4,.folio-inner h4 {
	font-size: 18px;
	margin: 5px 0 0;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	text-align: center;
	margin-bottom: 15px;
	padding-top: 20px;
	position: relative;
}

.team-info h4:before,.folio-inner h4:before {
	content: "";
	font-size: 18px;
	width: 26px;
	height: 2px;
	margin: 0 auto;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #999;
}

.team-info h4 span,.folio-inner h4 span {
	font-size: 14px;
	font-weight: 400;
	color: #999;
	display: block;
	margin-top: 5px;
}

.team-info p {
	font-size: 14px;
	font-weight: 400;
	color: #999;
	text-align: center;
	line-height: 18px;
	margin: 0;
}

#team .item:hover,.folio-info:hover {
	cursor: pointer;
}

#team .item:hover .team-info {
	background: #d82132;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.folio-info:hover .folio-inner {
	background: #d82132;
	border-color: #d82132;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#team .item:hover .team-info h4,#team .item:hover .team-info h4 span,.folio-info:hover .folio-inner h4,.folio-info:hover .folio-inner h4 span {
	color: #fff;
}

#team .item:hover .team-info p {
	color: #fff;
}

#team .item:hover .team-info h4:before,.folio-info:hover .folio-inner h4:before {
	content: "";
	background: #fff;
}

#owl-folio .item {
	position:relative;
	z-index:8787;
}

#owl-team .owl-controls .owl-page span {
	display: block;
	width: 16px;
	height: 4px;
	margin: 50px 4px 0;
	opacity: 1;
	border-radius: 0;
	background: #ccc;
}

#owl-team .owl-controls .owl-page.active span {
	background: #d82132;
}

.team-staff {
	position:relative;	
}

.team-overlay {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	background:rgba(0,0,0,0);
	width:100%;
	height:0%;
	overlay:0;
	visibility:hidden;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-team .item:hover .team-overlay {
	background:rgba(0,0,0,0.6);
	height:100%;
	visibility:visible;
	overlay:1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.team-overlay .social {
	height: 35px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	display: table-cell;
	vertical-align: middle;
	margin: auto;
	bottom: 0px;
	width: 155px;
}

.inner-wrap2 {
	background: #000 url(../demo/bg/3.jpg) no-repeat center top fixed;
	background-size: 100% auto;
	position: relative;
	padding: 85px 0;
}

.inner-wrap2 p {
	font-size: 16px;
	color: #FFF;
	font-weight: 400;
	text-align: center;
	margin: -25px 0 0;
	padding: 0 12%;
}

.inner-wrap2 a {
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-top: 0;
	padding: 12px 20px 10px;
	display: table;
	position: relative;
	margin: 0 auto;
	background: url(../images/border.png) no-repeat top center;
}

/* Portfolio */
#portfolio {
	background: #fff;
	padding: 75px 0 65px;
	position: relative;
	border-top: 75px solid transparent;
	margin-top: -75px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

#owl-folio .owl-controls .owl-page {
	display: none;
}

.folio-thumb {
	position:relative;
}

.folio-thumb-overlay {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	background:rgba(0,0,0,0);
	width:100%;
	height:0%;
	overlay:0;
	visibility:hidden;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#owl-folio .item:hover .folio-thumb-overlay {
	background:rgba(0,0,0,0.65);
	height:100%;
	visibility:visible;
	overlay:1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.folio-thumb-overlay ul {
	height: 45px;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: table-cell;
	vertical-align: middle;
	width: 60px;
	padding:0px;
}

.folio-thumb-overlay ul li {
	float:left;
	margin:0 5px;
	list-style:none;
}

.folio-thumb-overlay ul li a {
	height:45px;
	border-top:1px solid transparent;
	display:table;
	color:#fff;
	line-height:45px;
	padding:0 3px;
}

.folio-thumb-overlay ul li a:hover {
	color:#fff;
	border-top:1px solid #d82132;
}

/* Testimonials */
.testimonials h5 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 30px;
	color: #d82132;
}

.testimonials {
	padding: 60px 0 0;
}

#owl-quotes img {
	display: table;
	margin: 0 auto;
}

#owl-quotes h6 {
	text-transform: uppercase;
	font-weight: 400;
	color: #999;
	font-size: 14px;
	text-align: center;
	margin-bottom: 25px;
}

#owl-quotes p {
	font-weight: 400;
	color: #000;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}

#owl-quotes .owl-controls .owl-page span {
	display: block;
	width: 16px;
	height: 4px;
	margin: 25px 4px 0;
	opacity: 1;
	border-radius: 0;
	background: #ccc;
}

#owl-quotes .owl-controls .owl-page.active span {
	background: #d82132;
}

/* Contact Info */
.contact-info {
	position: relative;
	background: #000 url(../demo/bg/4.jpg) no-repeat center top fixed;
	background-size: 100% auto;
	padding: 70px 0;
}

.contact-info h3 {
	text-align: center;
	margin: 0 0 15px;
}

.contact-info h3 span {
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}

.contact-info h3 span:before {
	content: "";
	width: 26px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: -3px;
	left: 5px;
}

.contact-info p {
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 999;
}

.contact-info ul {
	padding: 50px 0 0;
	position: relative;
	z-index: 999;
}

.contact-info ul li {
	list-style: none;
	float: left;
	width: 20%;
	text-align: center;
}

.contact-info ul li i {
	color: #fff;
	font-size: 70px;
	text-align: center;
}

.cinfo {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	margin-top: 50px;
	position: relative;
}

.cinfo:before {
	content: "";
	width: 21px;
	height: 2px;
	background: #d82132;
	position: absolute;
	left: 0;
	right: 0;
	top: -25px;
	margin: 0 auto;
}

.cinfo span {
	display: block;
	font-size: 26px;
	font-weight: 300;
	text-transform: none;
	color: #fff;
}

.cinfo span a {
	color: #fff;
}

/* Contact */
#contact {
	background: #fff;
	padding: 70px 0;
	border-top: 70px solid transparent;
	margin-top: -70px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.contact-form {}

.contact-form input,.c-form input {
	height: 45px;
	width: 100%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 12px 15px;
	margin-bottom: 28px;
	font-size: 16px;
}

.contact-form textarea,.c-form textarea {
	height: 120px;
	width: 100%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 12px 15px;
	margin-bottom: 28px;
	font-size: 16px;
}

.contact-form button,.c-form button {
	display: table;
	margin: 0 auto;
	float: none;
	padding-right: 35px;
	padding-left: 35px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.contact-form button:hover,.c-form button:hover {
	padding-right: 50px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.contact-form button:hover:before,.c-form button:hover:before {
	content: "\f054";
	font-family: FontAwesome;
	position: absolute;
	right: 12px;
	top: 13px;
	color: #666;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.c-form {
	margin-top: 45px;
}

.c-form input,.c-form textarea {
	font-size: 14px;
}

/* Map Wrap */
.map-wrap h3 {
	margin: 0;
	line-height: 80px;
	background: #dd414a url(../images/l-bg.png) no-repeat top;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	font-weight: 300;
}

.map {
	width: 100%;
	height: 500px;
	background: #fff;
	position: relative;
}

.gmap img,.map img {
	max-width: none !important;
	vertical-align: baseline !important;
}

.gmap {
	height: 365px;
}

.gmap_marker {
	position: relative;
}

.gm-style-iw {
	position: absolute;
	left: 70px !important;
	top: 152px !important;
	overflow: auto;
	width: 227px !important;
	height: 87px !important;
	color: #fff !important;
	font-size: 13px !important;
}

.gm-style div div {
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}

/* Footer */
footer {
	background: #000;
	padding: 50px 0;
}

footer p {
	text-align: center;
}

footer p a {
	color: #fff;
}

footer p a:hover {
	color: #d82132;
}

/* Footer Social */
.social {
	padding: 0;
	display: table;
	margin: 0 auto;
}

.social li {
	list-style: none;
	float: left;
	margin: 0 1.5px;
}

.social li a {
	width: 35px;
	height: 35px;
	background: #fff;
	color: #000;
	border-radius: 50%;
	display: table;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
}

.social li a:hover {
	background: #d82132;
	color: #000;
}

.overlay {
	background: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
}

.main-content {
	position: relative;
	background: #fff;
	padding: 60px 0 105px;
}

/* Page Header */
.page-head {
	padding: 215px 0 115px;
	background: rgba(0,0,0,0.5);
}

.page-head h2 {
	font-size: 60px;
	text-transform: uppercase;
	color: #d82132;
	font-weight: 600;
	text-align: center;
	font-family: Arial;
	margin: 0;
}

.page-head h2 span {
	font-size: 64px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}

.page-head h2 span:before {
	content: "";
	width: 30px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 1px;
	left: 5px;
}

/* Blog */
.rmore {
	font-size: 16px;
	float: left;
	margin-top: 40px;
	color: #000;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #666;
	border-top: 0;
	padding: 12px 20px 10px;
	display: table;
	position: relative;
	background: url(../images/border1.png) no-repeat top center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.rmore:hover {
	padding: 12px 35px 10px 20px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.rmore:hover:before {
	content: "\f054";
	font-family: FontAwesome;
	position: absolute;
	right: 12px;
	top: 13px;
	color: #666;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.post-head {
	margin-top: 42px;
	display: table;
	width: 100%;
	margin-bottom: 13px;
}

article h3 {
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	margin-left: 95px;
	margin-top: 12px;
	margin-bottom: 3px;
}

article h3 a {
	color: #000;
}

article h3 a:hover {
	color: #d82132;
}

.post-meta {
	font-size: 13px;
	color: #000;
	margin-left: 25px;
}

.post-meta a {
	color: red;
}

.post-meta em {
	position: relative;
	font-size: 20px;
	font-weight: 700;
	margin: 0 10px;
	top: 3px;
	color: #ddd;
}

.p-ico {
	width: 70px;
	height: 90px;
	float: left;
}

.p-ico i {
	width: 70px;
	height: 90px;
	background: #fff url(../images/border.png) no-repeat top center;
	color: #d82132;
	font-size: 30px;
	line-height: 90px;
	text-align: center;
	border: 1px solid #ddd;
}

article p {
	font-size: 16px;
	color: #999;
	line-height: 25px;
}

article {
	border-bottom: 1px solid #ddd;
	padding-bottom: 60px;
	margin-bottom: 60px;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border: 0;
}

.video iframe,.video object,.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.side-widget {
	margin-bottom: 55px;
}

.search {
	position: relative;
}

.search input {
	height: 45px;
	border: 1px solid #ddd;
	width: 100%;
	padding: 15px;
	font-size: 14px;
	position: relative;
}

.search:before {
	content: "\f002";
	font-family: FontAwesome;
	position: absolute;
	right: 12px;
	top: 8px;
	font-size: 20px;
	color: #da2e3e;
	z-index: 999;
}

.side-widget h5 {
	text-transform: uppercase;
	color: #000;
	font-size: 18px;
	margin: 0 0 35px;
	border-bottom: 1px solid #ddd;
	font-weight: 600;
	padding-bottom: 15px;
}

.side-list {
	padding: 0;
}

.side-list li {
	list-style: none;
	font-size: 16px;
	color: #999;
	margin-bottom: 7px;
	padding-left: 22px;
	position: relative;
}

.side-list li:before {
	content: "_";
	color: #da2e3e;
	position: absolute;
	left: 0;
	width: 10px;
	overflow: hidden;
	font-size: 30px;
	font-weight: 700;
	top: -23px;
}

.side-list li a {
	color: #999;
}

.side-list li a:hover {
	color: #d82032;
}

.rposts-list {
	padding: 0;
}

.rposts-list li {
	list-style: none;
	font-size: 16px;
	color: #999;
	margin-bottom: 7px;
	padding-left: 22px;
	position: relative;
}

.rposts-list li:before {
	content: "_";
	color: #da2e3e;
	position: absolute;
	left: 0;
	width: 10px;
	overflow: hidden;
	font-size: 30px;
	font-weight: 700;
	top: -23px;
}

.rposts-list li h4 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 2px;
}

.rposts-list li h4 a {
	color: #999;
}

.rposts-list li h4 a:hover {
	color: #d82032;
}

.rposts-list li span {
	font-size: 13px;
	color: #000;
}

.rposts-list li span a {
	color: #d82032;
}

.blog-content {
	padding-right: 40px;
}

.side-widget p {
	color: #999;
	font-size: 16px;
	line-height: 24px;
}

.tags-list {
	padding: 0;
}

.tags-list li {
	float: left;
	margin-right: 4px;
	margin-bottom: 7px;
	list-style: none;
}

.tags-list li a {
	background: #fff;
	border: 1px solid #ddd;
	color: #999;
	padding: 5px 15px;
	display: table;
}

.tags-list li a:hover {
	background: #d82132;
	border: 1px solid #d82132;
	color: #fff;
}

.page-nav ul {
	padding: 0;
}

.page-nav ul li {
	float: left;
	list-style: none;
	margin-right: 5px;
}

.page-nav ul li a {
	font-size: 18px;
	border: 1px solid #ddd;
	color: #999;
	line-height: 40px;
	padding: 0 15px;
	display: table;
}

.page-nav ul li.active a,.page-nav ul li a:hover {
	background: #d82132;
	border-color: #d82132;
	color: #fff;
}

.blockquote {
	font-size: 16px;
	color: #000;
	font-style: italic;
	margin: 35px auto 40px;
	display: table;
	width: 100%;
	position: relative;
	width: 79%;
	left: 40.5px;
	font-weight: 300;
}

.blockquote:before {
	position: absolute;
	top: 0;
	left: -80px;
	content: "";
	width: 60px;
	height: 100%;
	background: #000 url(../images/quote.png) no-repeat center center;
}

.tags {
	color: #525252;
	margin: 40px 0 15px;
	display: table;
	width: 100%;
}

.tags a {
	color: #525252;
}

.tags a:hover {
	color: #000;
}

.share em {
	float: left;
	font-style: normal;
}

.share-social {
	padding: 0;
	position: relative;
	top: -2px;
}

.share-social li {
	float: left;
	margin: 0 2px;
	list-style: none;
}

.share-social li a {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #e7e7e9;
	display: table;
	color: #fff;
	line-height: 25px;
	text-align: center;
}

.share-social li a:hover {
	background: #d82132;
	color: #fff;
}

.comment-section h6 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	margin: 0;
}

.comments {
	padding: 0;
}

.comments li {
	border-top: 1px solid #ddd;
	padding: 40px 0;
	list-style: none;
}

.comments li:first-child {
	border-top: 1px solid transparent;
}

.c-author {
	width: 120px;
	float: left;
}

.c-info {
	margin-left: 145px;
}

.c-info h4 {
	margin: 0 0 4px;
}

.c-time {
	color: #d82132;
}

.c-info p {
	font-size: 15px;
	color: #999;
	padding: 15px 0;
}

.reply {
	font-size: 12px;
	color: #000;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #ddd;
	padding: 8px 20px 6px;
	display: table;
	position: relative;
	background: #fff url(../images/border.png) no-repeat top center;
}

.reply:hover {
	background: #d82132;
	color: #fff;
	border-color: #d82132;
}

.comment-sub {
	margin-left: 145px;
}

.comment-form {
	border-top: 1px solid #ddd;
	padding-top: 45px;
}

/*------------------------------------------------------------- 
		           THEME SWITCHER
--------------------------------------------------------------- */
#customizer {
	position: fixed;
	top: 130px;
	z-index: 999999;
	height: 100%;
}

.corner {
	display: block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: url(../images/icons/switcher/corner-open.png);
	position: absolute;
	top: 50px;
	left: -50px;
}

.s-close {
	right: -205px !important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.s-open {
	right: 0 !important;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.corner.expanded {
	background: url(../images/icons/switcher/corner.png);
}

#options {
	width: 205px;
	height: 250px;
	background: #fff;
	padding: 0;
	position: relative;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.heading {
	padding-bottom: 15px;
	margin-bottom: 20px;
}

#options h6 {
	color: #5c5c5c;
	margin-bottom: 10px;
	font-size: 13px;
}

.options-segment {
	margin-bottom: 20px;
}

.customize-button {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	color: #5c5c5c !important;
	background: #f7f7f7;
	border: 1px solid #e9e9e9;
	padding: 3px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.color-head {
	font-size: 13px;
	text-align: center;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	color: #525252;
	line-height: 40px;
	background-position: 92.5% 50%;
	margin-bottom: 15px !important;
	text-transform: uppercase;
	font-weight: 800;
}

.fonts-head {
	font-family: Bitter;
	font-size: 16px;
	color: #525252;
	line-height: 23px;
	margin-bottom: 15px !important;
}

.customize-button:hover {
	background: #fff;
}

.customize-button:first-of-type {
	margin-right: 5px;
}

.color-scheme {
	padding: 0;
}

.color-scheme li {
	float: left;
	list-style: none;
}

.color-scheme a {
	display: block;
	height: 30px;
	width: 30px;
	margin: 0 4.25px 10px;
}

.fonts-sel {
	padding: 20px 25px;
	margin-bottom: 0;
}

.colors-sel {
	padding: 20px 25px 15px;
	margin-bottom: 0;
}

.headers-sel {
	padding: 15px;
	margin-bottom: 0;
}

.green a {
	background: url(../images/icons/switcher/3.png);
}

.orange a {
	background: url(../images/icons/switcher/7.png);
}

.blue a {
	background: url(../images/icons/switcher/1.png);
}

.red a {
	background: url(../images/icons/switcher/8.png);
}

.violet a {
	background: url(../images/icons/switcher/4.png);
}

.pale-green a {
	background: url(../images/icons/switcher/6.png);
}

.yellow a {
	background: url(../images/icons/switcher/5.png);
}

.fblack a {
	background: url(../images/icons/switcher/2.png);
}

.version {
	padding: 0;
	margin-bottom: -20px;
	display: table;
	width: 100%;
}

.version li {
	list-style: none;
	width: 44%;
	margin-right: 9%;
	float: left;
}

.version li a {
	padding: 21px;
	display: table;
}

.version li:last-child {
	margin-right: 0;
}

.options-head {
	background: #000;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	line-height: 50px;
}

/* Animated styles */
.animated-out,.animated-in {
	-webkit-transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
	-moz-transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
	-o-transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
	transition-timing-function: cubic-bezier(0.13,0.71,0.30,0.94);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

.animated-out {
	-webkit-transform: translateY(35px);
	-moz-transform: translateY(35px);
	-o-transform: translateY(35px);
	-ms-transform: translateY(35px);
	transform: translateY(35px);
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

.animated-in {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

#slout-controls ul {
	display: table;
	padding: 0;
	margin: 0 auto 50px;
}

.s-controls-down {
	margin: 50px auto 0;
}

#slout-controls ul li {
	float: left;
	list-style: none;
	margin: 0 7px !important;
}

#slout-controls ul li a {
	font-size:40px;
	color:#ccc;
}

#slout-controls ul li a:hover {
	color:#999;
}

.close {
	position:relative;
	top:6px;
	opacity:1;
}

#slout-controls ul li:hover,#slout-controls ul li a:hover,.close:hover {
	opacity: 1;
}

.project-single {
	width:100% !important;
	padding-bottom:70px;
}

.project-single h4 {
	color: #333;
	text-transform: uppercase;
	font-size: 35px;
	text-align: center;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 15px;
}

.project-single h6 {
	font-size: 15px;
	color: #817e7e;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.project-single p {
	color: #a1a7a8;
	font-size: 16px;
	line-height: 27px;
	text-align:center;
}


/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.btn-wrap a {
	font-size: 10px;
}

#owl-intro .item h2 span {
	font-size: 50px;
}

#video-wrap h3 span {
	font-size: 42px;
}

.video-container {
	height: 500px;
}

#facts ul li i {
	width: 98%;
	height: 140px;
}

.cinfo {
	font-size: 15px;
}

.cinfo span {
	font-size: 20px;
}

#facts {
	background: #000 url(../demo/bg/1.jpg) no-repeat center top fixed;
	background-size: 130% auto;
}

.inner-wrap {
	background: #000 url(../demo/bg/2.jpg) no-repeat center top fixed;
	background: 130% auto;
}

.inner-wrap2 {
	background: #000 url(../demo/bg/3.jpg) no-repeat center top fixed;
	background-size: 130% auto;
}

.contact-info {
	background: #000 url(../demo/bg/4.jpg) no-repeat center top fixed;
	background-size: 130% auto;
}

.navbar-nav li {
	margin: 0 13px;
}

}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

.navbar-nav li a {
	padding: 10px 0;
}

.navbar-nav {
	width: 100%;
}

.navbar-collapse {
	max-height: 355px !important;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	border-top: 1px solid transparent;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
}

.blog-content {
	padding-right: 15px;
}

.page-head h2 span {
	font-size: 50px;
}

.navbar-collapse {
	box-shadow: none;
	background: rgba(0,0,0,0.7);
}

#owl-intro .item h2 span {
	font-size: 42px;
	display: block;
	display: table;
	margin: 0 auto;
}

#owl-intro .item h2 {
	font-size: 35px;
}

#owl-intro .item h2 span:before {
	content: "";
	height: 1px;
	top: -1px;
	left: 2px;
}

#services ul {
	height: auto;
}

#services ul:before {
	content: "";
	display: none;
}

#services ul li {
	width: 100%;
	float: none;
	height: 150px;
	padding-top: 59px;
}

#services ul li:before {
	content: "";
	display: none !important;
}

#services ul li:hover h4 {
	background: transparent;
	padding-top: 0;
	margin-top: 30px;
}

.btn-wrap a,.contact-form button,.c-form button {
	font-size: 16px;
	float: none;
	margin: 0 auto 10px;
	margin-right: auto;
	width: 90%;
	display: table;
}

.video-container {
	height: 500px;
}

#video-wrap h3 {
	font-size: 15px;
}

#video-wrap h3 span {
	font-size: 21px;
}

#video-wrap h3 span:nth-child(1):before {
	content: "";
	height: 1px;
	top: 0;
	left: 2px;
}

#facts ul li {
	list-style: none;
	float: none;
	width: 100%;
	margin-bottom: 40px;
}

#facts ul li:last-child {
	margin-bottom: 0;
}

.contact-info ul li {
	float: none;
	width: 100%;
	margin-bottom: 30px;
}

.contact-info ul li:last-child {
	margin-bottom: 0;
}

#facts {
	background: #000 url(../demo/bg/1.jpg) no-repeat center top fixed;
	background-size: auto 100%;
}

.inner-wrap {
	background: #000 url(../demo/bg/2.jpg) no-repeat center top fixed;
	background-size: auto 100%;
}

.inner-wrap2 {
	background: #000 url(../demo/bg/3.jpg) no-repeat center top fixed;
	background-size: auto 100%;
}

.contact-info {
	background: #000 url(../demo/bg/4.jpg) no-repeat center top fixed;
	background-size: auto 100%;
}

.navbar-toggle {
	color: #999;
	margin-top: 0;
}

.navbar-toggle:hover {
	color: #ccc;
}

}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 600px */
@media only screen and (min-width: 600px) and (max-width: 767px) {

#owl-intro .item h2 span {
	font-size: 42px;
	display: inline;
	margin: 0;
}

#owl-intro .item h2 {
	font-size: 35px;
}

#services ul li {
	width: 50%;
	float: left;
	height: 200px;
	padding-top: 59px;
}

#facts ul li {
	list-style: none;
	float: left;
	width: 50%;
	margin-bottom: 40px;
}

.video-container {
	height: 500px;
}

#video-wrap h3 span {
	font-size: 35px;
}

}