﻿<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="CodesMind" />
    <meta name="description" content="CodesMind - Desarrollo de Sistemas">
    <meta name="author" content="www.codesmind.com.mx">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Code's Mind</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">

    <!-- Custom Google Web Font -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/supersized.css" media="screen" />
    <link href="~/Content/YTPlayer.css" media="all" rel="stylesheet">
    <link href="~/Scripts/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Scripts/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="~/Scripts/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/prettyphoto.css" media="screen" />

    <!--[if lt IE 9]>
        <script src="./js/libs/html5shiv.js"></script>
          <script src="./js/libs/respond.js"></script>
    <![endif]-->
    <!-- Style Switch -->
    <link rel="stylesheet" type="text/css" href="~/Content/colors/red-black.css" title="red" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="~/Content/colors/pink-black.css" title="pink" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="~/Content/colors/full-black.css" title="black" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="~/Content/colors/orange-black.css" title="orange" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="~/Content/colors/blue-black.css" title="blue" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="~/Content/colors/green-black.css" title="green" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="~/Content/colors/yellow-black.css" title="yellow" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="~/Content/colors/pale-green-black.css" title="pale-green" media="screen" />


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34845258-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- Header -->
    <header>
        <nav class="navbar navbar-custom navbar-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a href="#page-top">
                        <img src="~/img/logo.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="page-scroll active"><a href="#page-top">Inicio</a></li>
                        <li class="page-scroll"><a href="#fworks">Trabajo</a></li>
                        <li class="page-scroll"><a href="#about">Acerca de</a></li>
                        <li class="page-scroll"><a href="#services2">Servicios</a></li>
                        <li class="page-scroll"><a href="#team">Equipo</a></li>
                        <li class="page-scroll"><a href="#portfolio">Proyectos</a></li>
                        <li class="page-scroll"><a href="#contact">Contacto</a></li>
                        <li class="page-scroll"><a href="./blog.html">Blog</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>
    <!-- Header -->

 
        @RenderBody()
        
 
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="col-md-12">
                <p>&copy; @DateTime.Now.Year <a href="http://codesmind.com.mx">Code's Mind</a></p>
                <div class="space30"></div>
                <ul class="social" data-animated="0">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <!-- Style Switch -->
    <div id="customizer" class="s-close">
        <span class="corner"><span class="cog"></span></span>
        <div id="options" class="visible">
            <div class="options-head">
                Style Switcher
            </div>

            <div class="options-segment clearfix colors-sel">
                <h6 class="color-head">Color Scheme</h6>
                <ul class="color-scheme clearfix">
                    <li class="blue"><a href="css/colors/blue-black" rel="blue" class="styleswitch"></a></li>
                    <li class="red"><a href="css/colors/red-black" rel="red" class="styleswitch"></a></li>
                    <li class="green"><a href="css/colors/green-black" rel="green" class="styleswitch"></a></li>
                    <li class="fblack"><a href="css/colors/full-black" rel="black" class="styleswitch"></a></li>
                    <li class="yellow"><a href="css/colors/yellow-black" rel="yellow" class="styleswitch"></a></li>
                    <li class="pale-green"><a href="css/colors/pale-green-black" rel="pale-green" class="styleswitch"></a></li>
                    <li class="orange"><a href="css/colors/orange-black" rel="orange" class="styleswitch"></a></li>
                    <li class="violet"><a href="css/colors/pink-black" rel="pink" class="styleswitch"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Style Switch -->
    <!-- Hidden iframe for submitting forms -->
    <iframe src="about:blank" name="hidden" class="hide"></iframe>

    <!-- JavaScript -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Scripts/supersized.3.2.7.min.js"></script>
    <script src="~/Scripts/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.animateNumber.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>
    <script src="~/Scripts/jquery.inview.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/jquery.gmap.js"></script>
    <script src="~/Scripts/stellar.js"></script>
    <script src="~/Scripts/portfolio.js"></script>
    <script src="~/Scripts/jquery.prettyphoto.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script src="~/Scripts/video/jquery.mb.YTPlayer.js"></script>
    <script>
      var tag = document.createElement('script');
      tag.src = "http://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          height: '100%',
          width: '100%',
          playerVars: { 'rel':0 , 'autoplay': 1, 'loop':1, 'controls':0, 'start':30, 'autohide':1,'wmode':'opaque' },
          videoId: 'nVbEyqlprpE',
          events: {
            'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange}
        });
      }
      function onPlayerReady(event) {
        event.target.mute();
	  //event.target.setSize(width:100, height:750);

	  // bind events
	  var playButton = document.getElementById("play-button");
	  playButton.addEventListener("click", function() {
	    player.playVideo();
	  });

	  var pauseButton = document.getElementById("pause-button");
	  pauseButton.addEventListener("click", function() {
	    player.pauseVideo();
	  });

      }
        function onPlayerStateChange(event) {
            if(event.data === 0) {
                event.target.playVideo();
            }
        }
    </script>

    <script src="~/Scripts/styleswitch.js"></script>
    <script src="~/Scripts/style_switch_custom.js"></script>
    <script src="~/Scripts/scripts.js"></script>

    <script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>
</body>


</html>