﻿
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Top slider wrap -->
<section id="intro">
    <div class="container">
        <div class="col-md-12">
            <div id="owl-intro" class="owl-carousel owl-theme">
                <div class="item">
                    <h2><span>Diseño de páginas web.</span></h2>
                    <div class="sep"></div>
                    <h3>Un sitio web habla bien de su negocio.</h3>
                    <p>Nos enfocamos en brindarle un sitio web personalizado y competitivo para el mercado del siglo XXI</p>
                    <div class="space70"></div>
                    <a class="page-scroll" href="#services">Servicios que ofrecemos</a>
                </div>
                <div class="item">
                    <h2><span>Desarrollo de software</span></h2>
                    <div class="sep"></div>
                    <h3>La solución necesaria para su empresa.</h3>
                    <p>Desarrollamos herramientas informáticas que se adecuan a sus necesidades empresariales.</p>
                    <div class="space70"></div>
                    <a class="page-scroll" href="#services">Servicios que ofrecemos</a>
                </div>
                <div class="item">
                    <h2><span>Desarrollo de aplicaciones móviles</span></h2>
                    <div class="sep"></div>
                    <h3>Desarrollamos la herramienta optima para su dispositivo Android.</h3>
                    <p>Nos enfocámos en desarrollar la aplicación adatable para móvil o tablet android que su empresa necesita.</p>
                    <div class="space70"></div>
                    <a class="page-scroll" href="#services">Servicios que ofrecemos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top slider wrap -->
<!-- Services -->
<section id="services">
    <div class="container">
        <div class="col-md-12">
            <h3 data-animated="0">Metodología de desarollo.</h3>
            <ul>
                <li data-animated="0">
                    <div class="ico"><i class="fa fa-leaf"></i></div>
                    <h4>Análisis y planeación de proyecto.</h4>
                </li>
                <li data-animated="0">
                    <div class="ico"><i class="fa fa-desktop"></i></div>
                    <h4>Ejecución o desarrollo.</h4>
                </li>
                <li data-animated="0">
                    <div class="ico"><i class="fa fa-book"></i></div>
                    <h4>Monitoreo y control</h4>
                </li>
                <li data-animated="0">
                    <div class="ico"><i class="fa fa-cloud"></i></div>
                    <h4>Entrega final.</h4>
                </li>
            </ul>
            <p>
                Nos esforzamos en brindale un trabajo completamente profesional, para ello, nos basamos en una metodología la cual contempla en todo momento al cliente. Pasando por diversas etapas para hacer mas eficaz y transparente el proceso de desarrollo.
            </p>
        </div>
    </div>
</section>
<!-- Services -->
<!-- Featured Works -->
@*<section id="fworks">
    <div class="container no-padding">
        <div class="content-head col-md-12 no-padding">
            <div class="col-md-4">
                <h5>Featured works</h5>
            </div>
            <div class="col-md-8">
                <p></p>
            </div>
        </div>
        <div class="fwork col-md-12 no-padding">
            <div class="col-md-6" data-animated="0">
                <div id="owl-fworks" class="owl-carousel owl-theme">
                    <div class="item"><img src="images/fworks/1.png" class="img-responsive" alt=""></div>
                    <div class="item"><img src="images/fworks/2.png" class="img-responsive" alt=""></div>
                    <div class="item"><img src="images/fworks/3.png" class="img-responsive" alt=""></div>
                </div>
            </div>
            <div class="col-md-6 fworks-info" data-animated="0">
                <h4>3D Rendering</h4>
                <h5>An amazing 3D rendering of a gun</h5>
                <p>Fusce lobortis sollicitudin dolor. Sed mollis ligula fringilla aliqu suscipit faucibus. Donec orna re luctus tellus. Sed malesuada dui at eldit hendrerit ullamcorper conse quat diam arc In erat enim, interdum a aliquam sed commodo bibendum.</p>
                <div class="sep-small"></div>
                <ul class="fworks-meta">
                    <li>Client: &nbsp;<a href="#">3D Renders Ltd.</a></li>
                    <li>Delivered: &nbsp;Thursday, 1st May 2014 </li>
                    <li>Tags: &nbsp;<a href="#">3D</a>,<a href="#">Design</a>,<a href="#">Rendering</a>,<a href="#">Branding</a></li>
                </ul>
                <div class="sep-small"></div>
                <div class="space40"></div>
                <div class="btn-wrap">
                    <a href="#">Launch project</a>
                    <a href="#">View all projects</a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Featured Works -->
<!-- Video Wrap -->
<section id="video-wrap">
    <div class="video-overlay">
        <div class="media-btns buttons">
            <div class="play-btn button" id="play-button">
            </div>
            <div class="pause-btn button" id="pause-button">
            </div>
        </div>
        <h3 data-animated="0"><span>Como nosotros lo hacemos.</span></h3>
    </div>
    <!--<div class="video-container">
        <iframe width="auto" height="auto" src="//www.youtube.com/embed/tDvBwPzJ7dY?autoplay=1&loop=1&controls=0&start=31&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
        </div>-->
    <!-- 1. The <div> tag will contain the <iframe> (and video player) -->
    <div class="video-container">
        <div id="player"></div>
    </div>
</section>
<!-- Video Wrap -->
<!-- About -->
<section id="about">
    <div class="container no-padding">
        <div class="content-head col-md-12 no-padding">
            <div class="col-md-4" data-animated="0">
                <h5>Acerca de Code's Mind</h5>
            </div>
            <div class="col-md-8" data-animated="0">
                <p>Code's Mind surge de la necesidad de innovar y crear software de calidad para el alcance de nuestros clientes.</p>
            </div>
        </div>
        <div class="about col-md-12 no-padding">
            <div class="col-md-7" data-animated="0">
                <ul>
                    <li>
                        <div class="a-ico"><i class="fa fa-thumbs-up"></i></div>
                        <div class="a-info">
                            <h4>Somos diferentes.</h4>
                            <p>Somos una empresa jóven con empleados inspirados en su satisfacción.</p>
                        </div>
                    </li>
                    <li>
                        <div class="a-ico"><i class="fa fa-flag"></i></div>
                        <div class="a-info">
                            <h4>¿Quiénes somos?</h4>
                            <p>En Code's Mind nos esforzamos en ganarnos su elección haciendo de ésta nuestro mayor objetivo.</p>
                        </div>
                    </li>
                    <li>
                        <div class="a-ico"><i class="fa fa-paper-plane"></i></div>
                        <div class="a-info">
                            <h4>¿Que hacemos?</h4>
                            <p>Nuestro enfoque es establecer una comunicación permanente con nuestros clientes para asegurar que el producto se adapte a sus necesidades reales.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5" data-animated="0">
                <img src="images/xtra/1.png" class="img-responsive" alt="" />
            </div>
        </div>
        <div class="mission col-md-12 no-padding">
            <h5 class="title" data-animated="0">Nuestra misión.</h5>
            <h5 class="subtitle" data-animated="0">Ser la mejor empresa de desarrollo de software en latinoamérica aumentando las oportunidades de crecimiento empresarial en nuestros clientes con base en software útil, eficaz y profesional.  </h5>
            <div class="sep2" data-animated="0"></div>
            <div class="col-md-12 fworks-info" data-animated="0">
                <h4>La historia</h4>
                <h5>Esfuerzo, dedicación y compromiso.</h5>
                <p>Code's Mind surge en el 2016 cuando, un grupo de universitarios, buscaron crear una empresa de desarrollo de software impulsados por su deseo de innovar y aumentar las alternativas de desarrollo en este campo de la computación. </p>
                <p>Actualmente, Code's Mind cuenta con un grupo de ingenieros, diseñadores, maquetistas, publicistas y especilistas en venta, que son capaces de solventar las necesidades de cada uno de sus clientes.  </p>
            </div>
            @*<div class="col-md-6 skills" data-animated="0">
                <h4>The Skills</h4>
                <ul class="skills-wrap">
                    <li>
                        <h6>Photoshop</h6>
                        <div><span class="expand photoshop"><em>90%</em></span></div>
                    </li>
                    <li>
                        <h6>Html/Css</h6>
                        <div><span class="expand html5"><em>70%</em></span></div>
                    </li>
                    <li>
                        <h6>Wordpress</h6>
                        <div><span class="expand wpress"><em>80%</em></span></div>
                    </li>
                    <li>
                        <h6>Video</h6>
                        <div><span class="expand svideo"><em>55%</em></span></div>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
</section>
<!-- About -->
<!-- Facts -->
<section id="facts" data-stellar-background-ratio="0.3">
    <div class="overlay"></div>
    <div class="container no-padding">
        <div class="col-md-12">
            <h3 data-animated="0"><span>Nuestros números.</span></h3>
            <ul data-animated="0">
                <li>
                    <i class="fa fa-rocket"></i>
                    <h4><span id="fact1">0</span> Proyectos.</h4>
                </li>
                <li>
                    <i class="fa fa-thumbs-up"></i>
                    <h4><span id="fact2">0</span> Clientes.</h4>
                </li>
                <li>
                    <i class="fa fa-twitter"></i>
                    <h4><span id="fact3">0</span> Seguidores.</h4>
                </li>
                <li>
                    <i class="fa fa-code"></i>
                    <h4><span id="fact4">0</span> Sistemas productivos.</h4>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Facts -->
<!-- Services Two -->
<section id="services2">
    <div class="container no-padding">
        <div class="content-head col-md-12 no-padding" data-animated="0">
            <div class="col-md-4">
                <h5>Nuestros servicios</h5>
            </div>
            <div class="col-md-8">
                @*<p>Fusce lobortis sollicitudin dolor. Sed mollis ligula fringilla aliquet suscipit faucibus. Donec ornare luctus tellus. Sed malesuada dui at elit</p>*@
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <div class="col-md-6 services2-left" data-animated="0">
                <ul>
                    <li>
                        <div class="a-ico"><i class="fa fa-globe"></i></div>
                        <div class="a-info">
                            <h4>Desarrollo de páginas web.</h4>
                            <p>Diseños a la medida de sus necesidades, totalmente responsivos (Correcta visualización desde móviles y computadoras de escritorio)</p>
                        </div>
                    </li>
                    @*<li>
                        <div class="a-ico"><i class="fa fa-camera"></i></div>
                        <div class="a-info">
                            <h4>Photography</h4>
                            <p>Fusce lobortis sollicitudin dolor. Sed mollis ligula fringilla aliqu suscipit faucibus. Donec ornare luctus tellus. Etiam lorem. Vivamus vel erat </p>
                        </div>
                    </li>*@
                    <li>
                        <div class="a-ico"><i class="fa fa-rocket"></i></div>
                        <div class="a-info">
                            <h4>Lanzamientos de empresas.</h4>
                            <p>Iniciamos sus proyectos empresariales desde un punto de vista tecnologico.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 services2-right" data-animated="0">
                <ul>
                    <li>
                        <div class="a-ico"><i class="fa fa-shopping-cart"></i></div>
                        <div class="a-info">
                            <h4>Puntos de venta.</h4>
                            <p>Ofrezca sus productos con un catalogo online y relice ventas desde su página web. </p>
                        </div>
                    </li>
                    @*<li>
                        <div class="a-ico"><i class="fa fa-youtube-play"></i></div>
                        <div class="a-info">
                            <h4>Video Editing</h4>
                            <p>Fusce lobortis sollicitudin dolor. Sed mollis ligula fringilla aliqu suscipit faucibus. Donec ornare luctus tellus. Etiam lorem. Vivamus vel erat </p>
                        </div>
                    </li>*@
                    <li>
                        <div class="a-ico"><i class="fa fa-mobile"></i></div>
                        <div class="a-info">
                            <h4>Desarrollo de aplicaciones móviles.</h4>
                            <p>Desarrolle una aplicación móvil para sus dispositivos IOS y Android que se adapte a las necesidades de su empresa</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Services Two -->
<!-- Inner Wrap -->
<div class="inner-wrap" data-stellar-background-ratio="0.3">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12">
            <img src="images/xtra/2.png" class="img-responsive" alt="" data-animated="0" />
        </div>
    </div>
</div>
<!-- Inner Wrap -->
<!-- Team -->
<section id="team">
    <div class="container no-padding">
        <div class="content-head col-md-12 no-padding" data-animated="0">
            <div class="col-md-4">
                <h5>El equipo</h5>
            </div>
            <div class="col-md-8">
                <p>Contamos con una baraja de especialistas profesionales a su disposición.</p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="owl-team" class="owl-carousel owl-theme">
                <div class="item" data-animated="0">
                    <div class="col-md-12 no-padding">
                        <div class="team-staff">
                            <img src="images/team/1.jpg" class="img-responsive" alt="" />
                            <div class="team-overlay">
                                <ul class="social" data-animated="0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-info">
                            <h4>Emmanuell Velazquez <span>Ceo/Founder</span></h4>
                            <p>In nec quam vitae turpis convallis viverra. Phasellus in magna.</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-animated="0">
                    <div class="col-md-12 no-padding">
                        <div class="team-staff">
                            <img src="images/team/2.jpg" class="img-responsive" alt="" />
                            <div class="team-overlay">
                                <ul class="social" data-animated="0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-info">
                            <h4>Sara Jones<span>Developer</span></h4>
                            <p>In nec quam vitae turpis convallis viverra. Phasellus in magna.</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-animated="0">
                    <div class="col-md-12 no-padding">
                        <div class="team-staff">
                            <img src="images/team/3.jpg" class="img-responsive" alt="" />
                            <div class="team-overlay">
                                <ul class="social" data-animated="0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-info">
                            <h4>Dave Sergio <span>Ceo/Founder</span></h4>
                            <p>In nec quam vitae turpis convallis viverra. Phasellus in magna.</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-animated="0">
                    <div class="col-md-12 no-padding">
                        <div class="team-staff">
                            <img src="images/team/4.jpg" class="img-responsive" alt="" />
                            <div class="team-overlay">
                                <ul class="social" data-animated="0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-info">
                            <h4>Andrea Smith<span>Ceo/Founder</span></h4>
                            <p>In nec quam vitae turpis convallis viverra. Phasellus in magna.</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-animated="0">
                    <div class="col-md-12 no-padding">
                        <div class="team-staff">
                            <img src="images/team/2.jpg" class="img-responsive" alt="" />
                            <div class="team-overlay">
                                <ul class="social" data-animated="0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-info">
                            <h4>Maria Doe<span>Ceo/Founder</span></h4>
                            <p>In nec quam vitae turpis convallis viverra. Phasellus in magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
<!-- Inner wrap -->
<section class="inner-wrap2" data-stellar-background-ratio="0.3">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12" data-animated="0">
            <h3><span>Profesionalismo, eficacia y compromiso.</span></h3>
            <p>In hac habitasse platea dictumst. Mauris molestie diam at magna. Curabitur ras tristique ante lacinia dolor. Integer ut neque. Class aptent taciti  Ut augue libero suscipit ac sagittis adipiscing dignissim non lectus aliquam uisque sodales.</p>
            <div class="space60"></div>
            <a href="#">Buy our services</a>
        </div>
    </div>
</section>
<!-- Inner wrap -->
<!-- Works -->
<section id="portfolio">
    <div class="container no-padding">
        <div class="content-head col-md-12 no-padding" data-animated="0">
            <div class="col-md-4">
                <h5>Últimos proyectos.</h5>
            </div>
            <div class="col-md-8">
                <p>Fusce lobortis sollicitudin dolor. Sed mollis ligula fringilla aliquet suscipit faucibus. Donec ornare luctus tellus. Sed malesuada dui at elit</p>
            </div>
        </div>
    </div>

    <div class="col-md-12 no-padding">
        <!-- project details container -->
        <div id="ajax-content">
            <div class="clearfix">
                <div class="row">
                    <div id="slout-controls">
                        <ul>
                            <li id="prevProject"><a href="#"><i class="fa fa-chevron-circle-left"></i></a></li>
                            <li id="closeProject"><a class="close" href="#"><i class="fa fa-times"></i></a></li>
                            <li id="nextProject"><a href="#"><i class="fa fa-chevron-circle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="loader"></div>
                <div id="ajax-outside">
                    <div id="ajax-inside"></div>
                </div>
            </div>
        </div>
        <!-- project details container -->

        <div class="portfolio-grid">
            <div id="folio">
                <div id="owl-folio" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="folio-item folio-info col-md-12 no-padding" data-animated="0">
                            <div class="folio-thumb">
                                <img src="images/portfolio/1.jpg" class="img-responsive" alt="" />
                                <div class="folio-thumb-overlay">
                                    <ul>
                                        <li><a href="images/portfolio/1.jpg" class="prettyPhoto"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#!projects/project-1.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="folio-inner">
                                <h4>Blast off cover<span>Print Video </span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="folio-item folio-info col-md-12 no-padding" data-animated="0">
                            <div class="folio-thumb">
                                <img src="images/portfolio/2.jpg" class="img-responsive" alt="" />
                                <div class="folio-thumb-overlay">
                                    <ul>
                                        <li><a href="images/portfolio/2.jpg" class="prettyPhoto"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#!projects/project-2.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="folio-inner">
                                <h4>Racing Car Stickers<span>Logo Branding</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="folio-item folio-info col-md-12 no-padding" data-animated="0">
                            <div class="folio-thumb">
                                <img src="images/portfolio/3.jpg" class="img-responsive" alt="" />
                                <div class="folio-thumb-overlay">
                                    <ul>
                                        <li><a href="images/portfolio/3.jpg" class="prettyPhoto"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#!projects/project-3.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="folio-inner">
                                <h4>Carousel App<span>Mobile Development</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="folio-item folio-info col-md-12 no-padding" data-animated="0">
                            <div class="folio-thumb">
                                <img src="images/portfolio/4.jpg" class="img-responsive" alt="" />
                                <div class="folio-thumb-overlay">
                                    <ul>
                                        <li><a href="images/portfolio/4.jpg" class="prettyPhoto"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#!projects/project-1.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="folio-inner">
                                <h4>AppsFuel Organizer<span>Logo</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="folio-item folio-info col-md-12 no-padding" data-animated="0">
                            <div class="folio-thumb">
                                <img src="images/portfolio/5.jpg" class="img-responsive" alt="" />
                                <div class="folio-thumb-overlay">
                                    <ul>
                                        <li><a href="images/portfolio/5.jpg" class="prettyPhoto"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#!projects/project-2.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="folio-inner">
                                <h4>Rita Profile<span>Branding</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="folio-item folio-info col-md-12 no-padding" data-animated="0">
                            <div class="folio-thumb">
                                <img src="images/portfolio/1.jpg" class="img-responsive" alt="" />
                                <div class="folio-thumb-overlay">
                                    <ul>
                                        <li><a href="images/portfolio/1.jpg" class="prettyPhoto"><i class="fa fa-search"></i></a></li>
                                        <li><a href="#!projects/project-3.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="folio-inner">
                                <h4>Blast off cover<span>Print Video</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="testimonials container">
        <div class="col-md-12">
            <h5 data-animated="0">L</h5>
            <div id="owl-quotes" class="owl-carousel" data-animated="0">
                <div>
                    <img src="images/quotes/1.jpg" class="img-responsive" alt="" />
                    <h6>Liz Watson</h6>
                    <p>Aenean orci purus tincidunt elementum tincidunt ut rhoncus ade elit curabitur. Vivamus quis nunc sit  Integer eu turpis. Nulla nunc pharetra tellus. Nullam morbi nibh leo laoreet.</p>
                </div>
                <div>
                    <img src="images/quotes/2.jpg" class="img-responsive" alt="" />
                    <h6>John Doe</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat interdum euismod. Maecenas consectetur luctus metus. Nullam leo lectus, fermentum ut consectetur ut, mattis at nunc.</p>
                </div>
                <div>
                    <img src="images/quotes/3.jpg" class="img-responsive" alt="" />
                    <h6>Mary vizy</h6>
                    <p>Suspendisse luctus turpis in consequat suscipit. Cras quis magna sed quam dapibus aliquam. Nulla at nisi ut ligula blandit accumsan in ut eros. Vestibulum fringilla turpis ut sem ultricies, pretium lobortis justo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Works -->
<!-- Contact Info -->
<section class="contact-info" data-stellar-background-ratio="0.3">
    <div class="overlay"></div>
    <div class="container no-padding">
        <h3 data-animated="0"><span>Redes sociales.</span></h3>
        <p data-animated="0">Class aptent taciti  Ut augue libero suscipit ac sagittis adipiscing dignissim non lectus aliquam uisque sodales.</p>
        <ul data-animated="0">
            <li>
                <i class="fa fa-phone"></i>
                <div class="cinfo">Customer Support<span>0800 12345</span></div>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <div class="cinfo">Inquiry<span><a href="/cdn-cgi/l/email-protection#a8c1c6d9ddc1dad1e8dacdd0c686c6cddc"><span class="__cf_email__" data-cfemail="a0c9ced1d5c9d2d9e0d2c5d8ce8ecec5d4">[email&#160;protected]</span>
                <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a></span></div>
            </li>
            <li>
                <i class="fa fa-twitter"></i>
                <div class="cinfo">Twitter<span><a href="#">rexn.follow</a></span></div>
            </li>
            <li>
                <i class="fa fa-facebook-square"></i>
                <div class="cinfo">Facebook<span><a href="#">rexn.like</a></span></div>
            </li>
            <li>
                <i class="fa fa-graduation-cap"></i>
                <div class="cinfo">Careers<span><a href="/cdn-cgi/l/email-protection#aecdd8eedccbd6c080c0cbda"><span class="__cf_email__" data-cfemail="a4c7d2e4d6c1dcca8acac1d0">[email&#160;protected]</span>
                <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a></span></div>
            </li>
        </ul>
    </div>
</section>
<!-- Contact Info -->
<!-- Contact -->
<section id="contact">
    <div class="container no-padding">
        <div class="content-head col-md-12 no-padding" data-animated="0">
            <div class="col-md-4">
                <h5>Contacto.</h5>
            </div>
            <div class="col-md-8">
                <p>Envíanos la idea de tu proyecto y nosotros nos encargaremos de realizarle un presupuesto completamente gratis.</p>
            </div>
        </div>
        <form class="contact-form" data-animated="0" action="@Url.Action("Contacto", "Inicio")" target="hidden" method="post">
            <div class="col-md-12 no-padding">
                <div class="col-md-4">
                    <input type="text" id="nombre" name="Nombre" placeholder="Nombre*">
                </div>
                <div class="col-md-4">
                    <input type="email" id="email" name="Email" placeholder="Email*">
                </div>
                <div class="col-md-4">
                    <input type="text" id="asunto" name="Asunto" placeholder="Asunto">
                </div>
            </div>
            <div class="col-md-12">
                <textarea placeholder="Mensaje*" id="msg" name="Mensaje" rows="5"></textarea>
                <button type="button" class="contacto">Enviar</button>
            </div>
        </form>
        <div class="result"></div>

    </div>
</section>
<!-- Contact -->

<!-- Map Wrap
<section class="map-wrap" data-animated="0">
    <h3>Location Map</h3>
    <div class="map">
        <div class="gmap">
            <div id="map_addresses" class="map"></div>
        </div>
    </div>
</section>
 Map Wrap -->

